## Load house sales data

In [1]:
import turicreate as tc
sales=tc.load_sframe('home_ data.sframe/')

In [2]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    770.0    | 10000.0  |  1.0   |     0      |  0   |     3     |  6.0  |
|    1960.0   |  5000.0  |  1.0   |     0      |  0   |     5     |  7.0  |
|    1680.0   |  8080.0  |  1.0   |     0      |  0   |     3     |  8.0  |
|    5420.0   | 101930.0 |  1.0   |     0      |  0   |     3     |  11.0 |
|    1715.0   |  6819.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    1060.0   |  9711.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1780.0   |  7470.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1890.0   |  6560.0  |  2.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   770.0    |      0.0      |  1933.0  |     0.0      |  98028  | 47.73792661 |
|   1050.0   |     910.0     |  1965.0  |     0.0      |  98136  |   47.52082  |
|   1680.0   |      0.0      |  1987.0  |     0.0      |  98074  | 47.61681228 |
|   3890.0   |     1530.0    |  2001.0  |     0.0      |  98053  | 47.65611835 |
|   1715.0   |      0.0      |  1995.0  |     0.0      |  98003  | 47.30972002 |
|   1060.0   |      0.0      |  1963.0  |     0.0      |  98198  | 47.40949984 |
|   1050.0   |     730.0     |  1960.0  |     0.0      |  98146  | 47.51229381 |
|   1890.0   |      0.0      |  2003.0  |     0.0      |  98038  | 47.36840673 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Calculate average house price group by zipcode

In [3]:
import turicreate.aggregate as agg
sf_zipcode=sales.groupby('zipcode',operations={'mean_price':agg.MEAN('price')})
sf_zipcode

Columns:
	zipcode	str
	mean_price	float

Rows: 70

Data:
+---------+--------------------+
| zipcode |     mean_price     |
+---------+--------------------+
|  98032  |     251296.24      |
|  98115  | 619900.5506003434  |
|  98075  | 790576.6685236766  |
|  98034  | 521652.8587155963  |
|  98106  | 319581.39402985066 |
|  98024  | 580526.7901234567  |
|  98122  | 634360.1758620688  |
|  98010  |     423665.99      |
|  98117  |  576795.007233273  |
|  98116  | 618634.1787878788  |
+---------+--------------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### Find which zipcode had the highest average house sale price

In [4]:
zipcode1 = sf_zipcode['zipcode'][sf_zipcode['mean_price']==sf_zipcode['mean_price'].max()]
print (zipcode1)

['98039', ... ]

In [5]:
sf1 = sales[sales['zipcode']=='98039']
print(sf1)

+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 3625049014 | 2014-08-29 00:00:00+00:00 | 2950000.0 |   4.0    |    3.5    |
| 2540700110 | 2015-02-12 00:00:00+00:00 | 1905000.0 |   4.0    |    3.5    |
| 3262300940 | 2014-11-07 00:00:00+00:00 |  875000.0 |   3.0    |    1.0    |
| 3262300940 | 2015-02-10 00:00:00+00:00 |  940000.0 |   3.0    |    1.0    |
| 6447300265 | 2014-10-14 00:00:00+00:00 | 4000000.0 |   4.0    |    5.5    |
| 2470100110 | 2014-08-04 00:00:00+00:00 | 5570000.0 |   5.0    |    5.75   |
| 2210500019 | 2015-03-24 00:00:00+00:00 |  937500.0 |   3.0    |    1.0    |
| 6447300345 | 2015-04-06 00:00:00+00:00 | 1160000.0 |   4.0    |    3.0    |
| 6447300225 | 2014-11-06 00:00:00+00:00 | 1880000.0 |   3.0    |    2.75   |
| 2525049148 | 2014-10-07 00:00:00+00:00 | 3418800.0 |   5.0    |    5.0    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    4860.0   | 23885.0  |  2.0   |     0      |  0   |     3     |  12.0 |
|    4210.0   | 18564.0  |  2.0   |     0      |  0   |     3     |  11.0 |
|    1220.0   |  8119.0  |  1.0   |     0      |  0   |     4     |  7.0  |
|    1220.0   |  8119.0  |  1.0   |     0      |  0   |     4     |  7.0  |
|    7080.0   | 16573.0  |  2.0   |     0      |  0   |     3     |  12.0 |
|    9200.0   | 35069.0  |  2.0   |     0      |  0   |     3     |  13.0 |
|    1320.0   |  8500.0  |  1.0   |     0      |  0   |     4     |  7.0  |
|    2680.0   | 15438.0  |  2.0   |     0      |  2   |     3     |  8.0  |
|    2620.0   | 17919.0  |  1.0   |     0      |  1   |     4     |  9.0  |
|    5450.0   | 20412.0  |  2.0   |     0      |  0   |     3     |  11.0 |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   4860.0   |      0.0      |  1996.0  |     0.0      |  98039  | 47.61717049 |
|   4210.0   |      0.0      |  2001.0  |     0.0      |  98039  | 47.62060082 |
|   1220.0   |      0.0      |  1955.0  |     0.0      |  98039  | 47.63281908 |
|   1220.0   |      0.0      |  1955.0  |     0.0      |  98039  | 47.63281908 |
|   5760.0   |     1320.0    |  2008.0  |     0.0      |  98039  | 47.61512031 |
|   6200.0   |     3000.0    |  2001.0  |     0.0      |  98039  | 47.62888314 |
|   1320.0   |      0.0      |  1954.0  |     0.0      |  98039  | 47.61872888 |
|   2680.0   |      0.0      |  1902.0  |    1956.0    |  98039  | 47.61089438 |
|   2620.0   |      0.0      |  1949.0  |     0.0      |  98039  | 47.61435052 |
|   5450.0   |      0.0      |  2014.0  |     0.0      |  98039  | 47.62087993 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.23040939 |     3580.0    | ... |
|  -122.2245047 |     3520.0    | ... |
| -122.23554392 |     1910.0    | ... |
| -122.23554392 |     1910.0    | ... |
| -122.22420058 |     3140.0    | ... |
| -122.23346379 |     3560.0    | ... |
| -122.22643371 |     2790.0    | ... |
| -122.22582388 |     4480.0    | ... |
| -122.22772057 |     3400.0    | ... |
| -122.23726918 |     3160.0    | ... |
+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [6]:
sf1['price'].mean()

2160606.5999999996

### Filtering house having 'sqft_living' in range 2000 and 4000

In [7]:
sf2 = sales[(sales['sqft_living']>2000)&(sales['sqft_living'] <4000)]
print(sf2)

+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 1736800520 | 2015-04-03 00:00:00+00:00 |  662500.0 |   3.0    |    2.5    |
| 9297300055 | 2015-01-24 00:00:00+00:00 |  650000.0 |   4.0    |    3.0    |
| 2524049179 | 2014-08-26 00:00:00+00:00 | 2000000.0 |   3.0    |    2.75   |
| 7137970340 | 2014-07-03 00:00:00+00:00 |  285000.0 |   5.0    |    2.5    |
| 3814700200 | 2014-11-20 00:00:00+00:00 |  329000.0 |   3.0    |    2.25   |
| 1794500383 | 2014-06-26 00:00:00+00:00 |  937000.0 |   3.0    |    1.75   |
| 1873100390 | 2015-03-02 00:00:00+00:00 |  719000.0 |   4.0    |    2.5    |
| 8562750320 | 2014-11-10 00:00:00+00:00 |  580500.0 |   3.0    |    2.5    |
| 0461000390 | 2014-06-24 00:00:00+00:00 |  687500.0 |   4.0    |    1.75   |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    3560.0   |  9796.0  |  1.0   |     0      |  0   |     3     |  8.0  |
|    2950.0   |  5000.0  |  2.0   |     0      |  3   |     3     |  9.0  |
|    3050.0   | 44867.0  |  1.0   |     0      |  4   |     3     |  9.0  |
|    2270.0   |  6300.0  |  2.0   |     0      |  0   |     3     |  8.0  |
|    2450.0   |  6500.0  |  2.0   |     0      |  0   |     4     |  8.0  |
|    2450.0   |  2691.0  |  2.0   |     0      |  0   |     3     |  8.0  |
|    2570.0   |  7173.0  |  2.0   |     0      |  0   |     3     |  8.0  |
|    2320.0   |  3980.0  |  2.0   |     0      |  0   |     3     |  8.0  |
|    2330.0   |  5000.0  |  1.5   |     0      |  0   |     4     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   1860.0   |     1700.0    |  1965.0  |     0.0      |  98007  | 47.60065993 |
|   1980.0   |     970.0     |  1979.0  |     0.0      |  98126  | 47.57136955 |
|   2330.0   |     720.0     |  1968.0  |     0.0      |  98040  | 47.53164379 |
|   2270.0   |      0.0      |  1995.0  |     0.0      |  98092  | 47.32658071 |
|   2450.0   |      0.0      |  1985.0  |     0.0      |  98030  | 47.37386303 |
|   1750.0   |     700.0     |  1915.0  |     0.0      |  98119  | 47.63855772 |
|   2570.0   |      0.0      |  2005.0  |     0.0      |  98052  | 47.70732168 |
|   2320.0   |      0.0      |  2003.0  |     0.0      |  98027  |  47.5391103 |
|   1510.0   |     820.0     |  1929.0  |     0.0      |  98117  | 47.68228235 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
|  -122.3188624 |     1690.0    | ... |
| -122.14529566 |     2210.0    | ... |
| -122.37541218 |     2140.0    | ... |
| -122.23345881 |     4110.0    | ... |
| -122.16892624 |     2240.0    | ... |
| -122.17228981 |     2200.0    | ... |
| -122.35985573 |     1760.0    | ... |
| -122.11029785 |     2630.0    | ... |
| -122.06971484 |     2580.0    | ... |
| -122.36760203 |     1460.0    | ... |
+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [8]:
percent_sf2=(sf2.num_rows())/(sales.num_rows())*100
print(percent_sf2)

42.155184379771434

# Build the regression model

In [9]:
train_data, test_data = sales.random_split(.8, seed=0)

In [10]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [11]:
sf_myfeatures_model = tc.linear_regression.create(train_data, target = 'price', features=my_features)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16514

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 75

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Validation Max Error | Training Root-Mean-Square Error | Validation Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| 1         | 2        | 1.049075     | 4070249.709346     | 1443425.871573       | 189383.777974                   | 186510.518375                     |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

SUCCESS: Optimal solution found.

In [12]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [13]:
sf_adv_model = tc.linear_regression.create(train_data, target = 'price', features=advanced_features)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16514

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 87

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Validation Max Error | Training Root-Mean-Square Error | Validation Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| 1         | 2        | 0.014639     | 4344534.886985     | 2219541.930149       | 161903.648442                   | 172356.276753                     |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

SUCCESS: Optimal solution found.

In [14]:
print (sf_myfeatures_model.evaluate(test_data))
print (sf_adv_model.evaluate(test_data))

{'max_error': 3134061.74183028, 'rmse': 180647.6872441739}
{'max_error': 3222918.3192059034, 'rmse': 155564.30730038934}